* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}


#grid {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}

#grid>div {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 10px;

}